// // grid breakpoints
// $sm: 768px;
// $md: 1024px;
// $lg: 1280px;
// $xl: 1600px;

// $bgColor: #010101;
// $textColor: #fefefe;
// $textSecondary: #afafaf;
// $accentColor: #00ee00;

$white: #fefefe;
$black: #010101;
$body-bg: $black;
$body-color: $white;